.home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    animation: appearFromLeft 2s ease-in-out forwards;
}

.home p{
    color: var(--main-color);
    font-size: 24px;
}

.home .intro{
    color: var(--secondary-text-color);
    font-size: 20px;
    padding-right: 45%;
}

.home h1, .home h2{
    font-size: 48px;
}

.home h1{
    color: var(--text-color);
}
.home h2{
    
    color: var(--secondary-text-color);
}


.contact-me{
    background-color: transparent;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    
}
.contact-me:hover{
    background-color: var(--main-color);
    color: var(--text-color);
    border: 1px solid white;
}

.heading{
  color: var(--main-color);  
  display: flex;
  flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 20px;
}

.heading h1{
    color:  var(--main-color);
    font-size: 48px;
}
.heading div{
    width: 150px;
    height: 2px;
    background-color: var(--secondary-text-color);
}

.about{
    animation: revealFromLeft 2s ease forwards;
}
.about .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 400px;
    justify-content: space-between;
    align-items: flex-start;
    
}

.about .container .left{
    width: 50%;
    font-size: 20px;
    display: flex;
    height: 100%;
    overflow: scroll;
}

.left .intro{
    height: 60vh;
    overflow: scroll;
    font-size: 18px;
}

.intro::-webkit-scrollbar{
    display: none;
}

.about .container .left::-webkit-scrollbar{
    display: none;
}

.about .container .right{
    width: 40%;
    height: 100%;
    
}

.about .container .right div{
    width: 100%;
    border: 3px solid var(--main-color);
    border-radius: 5px 40px;
    padding: 3px;
}

.container .right img{
    width: 100%;
    border-radius: 20px;
    position: relative;
    border-radius: 5px 40px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    animation: revealFromLeft 2s ease forwards;
}

.container .sub-head{
font-size: 24px;
padding-right: 10%;
z-index: 1;
}

.service-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;

}

.skills{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;

}


.contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    overflow: scroll;
}
.contact::-webkit-scrollbar{
    display: none;
}
.contact .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.contact .left input,textarea{
    background-color: transparent;
    border: 1px solid black;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.contact .left input[type="button"]{
    background-color: transparent;
    border: 1px solid black;
    color: var(--main-color);
    font-size: 20px;
    padding: 10px;
    width: max-content;
    align-self: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.contact .left input[type="button"]:hover{
background-color: var(--main-color);
color: var(--text-color);
border: 1px solid white;
}

.contact .right{
    width: 40%;
    display: flex;
    flex-direction: column ;
    gap: 20px;
    align-items: flex-end;
}
.contact .right div{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in-out;
}
.contact .right div:hover .icon,.contact .right div:hover p{
    color: var(--main-color);
    fill: var(--main-color);
}

.contact .right div .icon{
    font-size: 40px;
}

.contact .right div p{
    font-size: 24px;
}


#projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    height: max-content;
    overflow: scroll;

}

#projects::-webkit-scrollbar{
    display: none;
}



.show-more{
    background-color: var(--main-color);
    padding:  10px 20px;
    width: max-content;
    align-self: center;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
}

.show-more:hover{
    background-color: transparent;
    border: 1px solid var(--main-color);
}





@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
    #projects{
        gap: 10px;
    }

    .home .intro{
        padding: 0;
    }

}

@media only screen and (max-width:768px){

    .home {
        gap: 5px;
        overflow: scroll;
    }
    .home::-webkit-scrollbar{
        display: none;
    }
    .home h1,h2{
        font-size: 34px;
    }

    .home .intro{
        padding: 0;
        text-align: start;
    }


    .about .container{
        flex-direction: column-reverse;
        gap: 20px;
        
    }

    .about .container .left{
        width: 100%;
        display: flex;
        padding: 10px;
        justify-content: center;
    }

    .about .container .right{
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }

    .about .container .right img{
        height: 200px;
        width: 100%;
        position: relative;

    }

    .about .container .right div{
        width: 100%;
        padding: 2px;
        display: flex;
        justify-content: flex-start;
    }

    
    

    .container .sub-head{
        font-size: 18px;
        padding: 0;
    }
    .service-cards{
        flex-wrap: wrap;
        gap: 10px;
        overflow: scroll;
    }

    .service-cards::-webkit-scrollbar{
        display: none   ;
    }

    .heading{
        gap: 10px;
        margin-bottom: 10px;
    }
    .heading h1{
        font-size: 34px;
    }

    .heading div{
        width: 60px;
    }

    .skills{
        gap: 10px;
    }

    .contact{
        flex-wrap: wrap;
        overflow: scroll;
    }

    .contact::-webkit-scrollbar{
        display: none;

    }

    .contact .left{
        width: 100%;
    }
    .contact .right{
        width: 100%;
    }

    .contact .right div{

        width: 100%;
        justify-content: flex-start;
        padding: 10px 0;
    }

}