.home{
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

.home p{
    color: var(--main-color);
    font-size: 24px;
}

.home .intro{
    color: var(--secondary-text-color);
    font-size: 20px;
    padding-right: 45%;
}

.home h1, .home h2{
    font-size: 48px;
}

.home h1{
    color: var(--text-color);
}
.home h2{
    
    color: var(--secondary-text-color);
}


.contact-me{
    background-color: transparent;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}
.contact-me:hover,.contact-me:focus{
    background-color: var(--main-color);
    color: var(--text-color);
}

.heading{
  color: var(--main-color);  
  display: flex;
  flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 20px;
}

.heading h1{
    color:  var(--main-color);
    font-size: 48px;
}
.heading div{
    width: 150px;
    height: 2px;
    background-color: var(--secondary-text-color);
}


.about .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 800px;
    justify-content: space-between;
    align-items: flex-start;
}

.about .container .left{
    width: 50%;
    font-size: 20px;
    height: 90%;
    overflow: scroll;
}

.about .container .left::-webkit-scrollbar{
    display: none;
}

.about .container .right{
    width: max-content;
    border: 3px solid var(--main-color);
    border-radius: 20px;
    height: 80%;
}

.container .right img{
    width: 340px;
    height: 350px;
    border-radius: 20px;
    position: relative;
    top: -20px;
    left: -20px;
}


.container{
    display: flex;
    flex-direction: column;
}

.container .sub-head{
font-size: 24px;
padding-right: 10%;
}

.service-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;

}

.skills{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}


.contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.contact .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
.contact .left input,textarea{
    background-color: transparent;
    border: 1px solid black;
    color: var(--text-color);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.contact .left input[type="button"]{
    background-color: transparent;
    border: 1px solid black;
    color: var(--main-color);
    font-size: 20px;
    padding: 10px;
    width: max-content;
    align-self: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.contact .left input[type="button"]:hover , .contact .left input[type="button"]:focus{
background-color: var(--main-color);
color: var(--text-color);
}

.contact .right{
    width: 40%;
    display: flex;
    flex-direction: column ;
    gap: 20px;
    align-items: flex-end;
}
.contact .right div{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    
    align-items: center;
    gap: 10px;
    transition: 0.3s ease-in-out;
}
.contact .right div:hover .icon,.contact .right div:hover p{
    color: var(--main-color);
    fill: var(--main-color);
}

.contact .right div .icon{
    font-size: 40px;
}

.contact .right div p{
    font-size: 24px;
}


#projects{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    overflow: scroll;
    max-height: 300px;
}

#projects::-webkit-scrollbar{
    display: none;
}



.show-more{
    background-color: var(--main-color);
    padding:  10px 20px;
    width: max-content;
    align-self: center;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
    cursor: move;
}

.show-more:hover, .show-more:focus{
    background-color: transparent;
    border: 1px solid var(--main-color);
}